%% ${function_name}/${function_arity}
%% ====================================================================
%% @doc @todo description and spec
-spec ${function_name}() -> Result.
%% ====================================================================